<% preview_dom_id = "preview-#{rand(99999)}" %>
<div id="<%= preview_dom_id %>" class="task-preview <%= task.active? ? 'active' : '' %>">
    <div class="preview-id">#<%= task.uri_id %></div>
    <div class="preview-duration"><%= task.started? ? formatted_minutes(task.duration) : '' %></div>
    <div class="preview-name"><%= task.name_preview %></div>
</div>

<style>
    #task-list .task-preview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            "preview-id preview-duration"
            "preview-name preview-name";
        background: white;
        border-radius: 4px;
        flex-direction: column;
        cursor: pointer;
        height: fit-content;
        padding: 16px;
        grid-gap: 8px;
        font-size: 0.9rem;
        color: #9999ac;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .task-preview > div {
        display: flex;
        align-items: center;
    }

    .task-preview.active {
        border: 1px solid #2FB8BA;
    }

    .task-preview .preview-name {
        color: black;
    }

    .task-preview .preview-duration {
        justify-content: right;
        font-weight: bold;
        color: black;
    }

    .task-preview .preview-name {
        grid-area: preview-name;
    }
</style>


<script>
    document.getElementById('<%= preview_dom_id %>').onclick = () => {
        window.location = '/task/<%= task.id %>'
    }
</script>
