<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="wrapper">
        <div id="scroller-tool">
            <div id="task-list-header" class="grey"></div>
            <div id="task-header" class="<%= @task ? 'blue' : 'grey' %>"></div>
            <%= erb :_task_list, locals: { tasks: @sorted_tasks } %>
            <% if @task %>
                <%= erb :_task_view, locals: { task: @task } %>
            <% else %>
                <%= erb :_dash_view %>
            <% end %>
        </div>
    </div>
    
</body>

</html>
