<% preview_dom_id = "preview-#{rand(99999)}" %>
<div id="<%= preview_dom_id %>" class="task-preview <%= task.active? ? 'active' : '' %>">
    <div class="preview-id">#<%= task.uri_id %></div>
    <div class="preview-duration"><%= task.started? ? formatted_minutes(task.duration) : '' %></div>
    <div class="preview-name"><%= task.name_preview %></div>
</div>

<script>
    document.getElementById('<%= preview_dom_id %>').onclick = () => {
        window.location = '/task/<%= task.id %>'
    }
</script>
